<footer class="p-5 border-top">
    <div class="footer-row pt-3">
        <p>
            Copyright
            <span>© 2023 - Clima</span>
        </p>
        <ul>
            <li><a href="https://facebook.com" target="_blank"><i class="bi bi-facebook"></i></a></li>
            <li><a href="https://twitter.com" target="_blank"><i class="bi bi-twitter"></i></a></li>
            <li><a href="https://instagram.com" target="_blank"><i class="bi bi-instagram"></i></a></li>
        </ul>
    </div>
</footer>