<ng-container *ngIf="data else placeholders">
    <section class="my-5">
        <h2>El clima en {{data.name}}</h2>
        <div id="result" [ngStyle]="{'background-color': data.weather[0].icon[2] === 'd' ? '#0081A7' : '#052934' }">
            <h3>{{data.name}}</h3><span class="time">{{data.weather[0].icon[2]==='d' ? 'De día' : 'De noche'}}</span>
            <div class="search-container">
                <div class="icon-temps-container"><img class="img-fluid"
                        [src]="'https://openweathermap.org/img/wn/'+data.weather[0].icon+'@4x.png'">
                    <div class="temps-container">
                        <span>{{data.main.temp | fixed}}°C</span><span>{{data.main.temp_min | fixed}}°C /
                            {{data.main.temp_max | fixed}}°C</span>
                    </div>
                </div>
                <div class="extra-info">
                    <span>Sensación térmica {{data.main.feels_like | fixed}}°C</span>
                    <hr />
                    <span>Humedad {{data.main.humidity}}%</span>
                    <hr />
                    <span>Presión atmosférica {{data.main.pressure}} hPa</span>
                    <hr />
                    <span>Vientos {{(data.wind.speed * 3.6) | fixed}} km/h</span>
                </div>
            </div>
        </div>
    </section>
</ng-container>

<section *ngIf="url" class="my-5">
    <h2>Ubicación de {{data.name}}</h2>
    <iframe referrerpolicy="no-referrer-when-downgrade" [src]="url" allowfullscreen>
    </iframe>
</section>

<ng-template #placeholders>
    <h2 class="titles-no-results">El tiempo en...</h2>
    <span class="d-block mb-3 lead">Todavía no se han realizado búsquedas en la página</span>
    <div id="result" class="placerholder-customize">
        <h3 class="placeholder-glow">
            <span class="placeholder col-3"></span>
        </h3>
        <div class="placeholder-glow">
            <span class="placeholder col-3"></span>
            <div class="d-flex gap-3">
                <div class="my-3 placeholder col-6" style="height: 200px;"></div>
                <div class="my-3 placeholder col-6" style="height: 200px;"></div>
            </div>
        </div>
    </div>
</ng-template>